<div class="container-fluid py-5" id="thoughts-cf">
    <div class="container py-3" id="thoughts-c">
        <div class="row" id="thoughts-wrap">
            <div class="col-lg-6">
                <div class="col p-0" id="thoughts-item">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                    <p>Lorem ipsum</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem quas, nostrum eos harum sit ex dolorum expedita aut odit repellat architecto a rem suscipit nobis libero dolores vero assumenda sunt.</p>
                </div>
                <div class="row my-5 py-2" id="thoughts-item">
                    <div class="col-2">
                        <img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                    </div>
                    <div class="col-5">
                        <p class="p-0 m-0"><b>Lorem, ipsum</b></p>
                        <p class="p-0 m-0">Lorem ipsum dolor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 py-3">
                <div class="col " id="thoughts-item">
                    <div class="col py-2 px-3 my-3" id="thoughts-item-a">
                        <h6 class=" mr-2">Lorem ipsum dolor sit amet <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i></h6>
                        <p>Lorem ipsum dolor sit adipisicing elit. Aliquid quos eveniet aspernatur id inventore autem, eum deleniti quaerat non numquam.</p>
                    </div>
                    <div class="col py-2 px-3 my-3" id="thoughts-item-a">
                        <h6>Lorem ipsum dolor sit amet  <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h6>
                        <p>Lorem ipsum dolor sit adipisicing elit. Aliquid quos eveniet aspernatur id inventore autem, eum deleniti quaerat non numquam.</p>
                    </div>
                    <div class="col py-2 px-3 my-3" id="thoughts-item-a">
                        <h6>Lorem ipsum dolor sit amet  <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h6>
                        <p>Lorem ipsum dolor sit adipisicing elit. Aliquid quos eveniet aspernatur id inventore autem, eum deleniti quaerat non numquam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>