<div class="container-fluid bg-dark py-2" id="news-c">
    <div class="row">
        <div class="col-2 p-0 news-head">
            <h4>New Updates</h4>
        </div>
        <div class="col-10">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <p>1. Lorem ipsum dolor sit amet.</p>
                  </div>
                  <div class="carousel-item">
                    <p>2. Lorem ipsum dolor sit amet.</p>
                  </div>
                  <div class="carousel-item">
                    <p>3. Lorem ipsum dolor sit amet.</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>