<div class="container-fluid py-5" id="cadet-cf">
    <div class="container py-2" id="cadet-c">
        <div class="col py-3">
            <h2>NCC Cadets</h2>
        </div>
        <div class="row py-2">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="col" id="cadet-item">
                    <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="col" id="cadet-item">
                    <h5>Lorem ipsum dolor consectetur, adipisicing elit</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat architecto placeat blanditiis laboriosam laudantium illo distinctio debitis optio iure quasi reprehenderit, voluptatibus, doloribus et, dolorum quos vero suscipit nostrum incidunt soluta error a facere maiores! Labore perspiciatis temporibus aut, ea earum aliquid possimus expedita. Suscipit dolor consequatur tenetur expedita accusantium</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat architecto placeat blanditiis laboriosam laudantium illo distinctio debitis optio iure quasi reprehenderit, voluptatibus, doloribus et, dolorum quos vero suscipit nostrum incidunt soluta error a facere maiores! Labore perspiciatis temporibus aut, ea earum aliquid possimus expedita. Suscipit dolor consequatur tenetur expedita accusantium</p> 
                </div>
            </div>
        </div>
        <div class="col pt-5 pb-3">
            <h4>All NCC Cadets</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi quidem similique id culpa sit?</p>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12" id="cadet-item-a">
                    <img src="https://images.pexels.com/photos/712513/pexels-photo-712513.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                    <p class="pt-2 m-0">Lorem, ipsum</p>
                    <p class="p-0 m-0">Lorem ipsum dolor sit amet</p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12" id="cadet-item-a">
                    <img src="https://images.pexels.com/photos/774095/pexels-photo-774095.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">                
                    <p class="pt-2 m-0">Lorem, ipsum</p>
                    <p class="p-0 m-0">Lorem ipsum dolor sit amet</p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12" id="cadet-item-a">
                    <img src="https://images.pexels.com/photos/874158/pexels-photo-874158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                    <p class="pt-2 m-0">Lorem, ipsum</p>
                    <p class="p-0 m-0">Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </div>
    </div>
</div>