.banner-main .banner-img{
    height: 590px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.banner-main .banner-img:nth-child(1){
    background-image: url('https://images.pexels.com/photos/3581355/pexels-photo-3581355.jpeg');
}
.banner-main .banner-img:nth-child(2){
    background-image: url('https://images.pexels.com/photos/3351448/pexels-photo-3351448.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.banner-main .banner-img:nth-child(3){
    background-image: url('https://images.pexels.com/photos/15963212/pexels-photo-15963212/free-photo-of-view-of-the-old-zaina-kadal-bridge-and-historical-buildings-in-srinagar-india.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.banner-main .banner-img #banner-text{
    color: white;
    font-weight: 700;
    padding: 0 40px;
}
.banner-main .banner-img #banner-text h2{
    font-size: 49px;
    font-weight: 900;
    padding-top: 150px ;
}
.banner-main .banner-img #banner-text p{

}
.banner-main .banner-img #banner-text button{
    font-weight: 600;
    padding: 10px 40px;
}
