<div class="container-fluid py-5" id="footer-cf">
    <div class="container" id="footer-c">
            <div class="col text-center" id="footer-icon">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
            </div>
            <div class="col text-center pt-5 pb-4" id="footer-link">
                <a href="/home" target="blank">Home</a>
                <a href="/about" target="blank">About</a>
                <a href="/home" target="blank">News</a>
                <a href="https://www.igntu.ac.in/" target="blank">Visit IGNTU</a>
                <a href="/contact" target="blank">Contact us</a>
            </div>
            <hr class="bg-white">
            <div class="col text-center">
                <p>All Rights Reserved © - 2024 By IGNTU</p>
            </div>
    </div>
</div>