<div class="container-fluid py-5" id="gallery-cp">
    <div class="container " id="gallery-c">
        <div class="col py-4">
            <h2>NCC Gallery</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 my-3" id="gallery-item">
                <img src="https://images.pexels.com/photos/672630/pexels-photo-672630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <p>Lorem ipsum dolor sit</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 my-3" id="gallery-item">
                <img src="https://images.pexels.com/photos/618491/pexels-photo-618491.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <p>Lorem ipsum dolor sit</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 my-3" id="gallery-item">
                <img src="https://images.pexels.com/photos/574324/pexels-photo-574324.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <p>Lorem ipsum dolor sit</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 my-3" id="gallery-item">
                <img src="https://images.pexels.com/photos/1007426/pexels-photo-1007426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <p>Lorem ipsum dolor sit</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 my-3" id="gallery-item">
                <img src="https://images.pexels.com/photos/3699921/pexels-photo-3699921.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <p>Lorem ipsum dolor sit</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 my-3" id="gallery-item">
                <img src="https://images.pexels.com/photos/1007425/pexels-photo-1007425.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <p>Lorem ipsum dolor sit</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 my-3" id="gallery-item">
                <img src="https://images.pexels.com/photos/1098460/pexels-photo-1098460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <p>Lorem ipsum dolor sit</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 my-3" id="gallery-item">
                <img src="https://images.pexels.com/photos/797824/pexels-photo-797824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <p>Lorem ipsum dolor sit</p>
            </div>
        </div>
    </div>
</div>