<div class="container-fluid py-5 " id="aim-cf">
    <div class="container py-5" id="aim-c">
        <div class="col py-2">
            <h2>Our NCC Aim</h2>
        </div>
        <div class="row pb-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="col">
                    <h5>Lorem ipsum dolor sit amet consectetur</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia cum repellendus fugit voluptates sequi in ducimus, accusantium beatae quidem facere officiis unde perferendis eum exercitationem dolorum aspernatur similique enim corporis!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia cum repellendus fugit voluptates sequi in ducimus, accusantium beatae quidem facere officiis unde perferendis eum exercitationem dolorum aspernatur similique enim corporis!</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="col aim-item p-0"></div>
                <div class="col aim-item p-0"></div>
            </div>
        </div>
    </div>
</div>