<div class="container-fluid py-5" id="ano-cf">
    <div class="container py-2" id="ano-c">
        <div class="col py-3">
            <h2>NCC ANO</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="col" id="ano-item">
                    <img src="https://images.pexels.com/photos/5491892/pexels-photo-5491892.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">

                    <!-- <h5>Lorem ipsum dolor consectetur, adipisicing elit</h5> -->
                    <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat architecto placeat blanditiis laboriosam laudantium illo distinctio debitis optio iure quasi reprehenderit, voluptatibus, doloribus et, dolorum quos vero suscipit nostrum incidunt soluta error a facere maiores! Labore perspiciatis temporibus aut, ea earum aliquid possimus expedita. Suscipit dolor consequatur tenetur expedita accusantium</p> -->
                    <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat architecto placeat blanditiis laboriosam laudantium illo distinctio debitis optio iure quasi reprehenderit, voluptatibus, doloribus et, dolorum quos vero suscipit nostrum incidunt soluta error a facere maiores! Labore perspiciatis temporibus aut, ea earum aliquid possimus expedita. Suscipit dolor consequatur tenetur expedita accusantium</p>  -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="col" id="ano-item">
                    <h5>Lorem ipsum dolor consectetur, adipisicing elit</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat architecto placeat blanditiis laboriosam laudantium illo distinctio debitis optio iure quasi reprehenderit, voluptatibus, doloribus et, dolorum quos vero suscipit nostrum incidunt soluta error a facere maiores! Labore perspiciatis temporibus aut, ea earum aliquid possimus expedita. Suscipit dolor consequatur tenetur expedita accusantium</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat architecto placeat blanditiis laboriosam laudantium illo distinctio debitis optio iure quasi reprehenderit, voluptatibus, doloribus et, dolorum quos vero suscipit nostrum incidunt soluta error a facere maiores! Labore perspiciatis temporibus aut, ea earum aliquid possimus expedita. Suscipit dolor consequatur tenetur expedita accusantium</p> 

                    <!-- <img src="https://images.pexels.com/photos/17146024/pexels-photo-17146024/free-photo-of-smiling-old-soldier-in-military-uniform.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</div>