<div class="container-fluid py-5" id="about-cp">
    <div class="container" id="about-c">
        <h2>About Us</h2>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="col p-0 py-4">
                    <div class="col p-0" id="about-item">
                        <img src="https://images.thequint.com/thequint%2F2018-03%2F2e1e54d4-ea81-42ed-bfb8-30ff23ae5821%2F63488dcf-9505-469e-b68b-fe1f1e540026.jpg?rect=0%2C0%2C1024%2C576" alt="">
                    </div>
                    <div class="col" id="about-item">
                        <p class="p-0 m-0 text-warning"><b>Lorem, ipsum dolor</b></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, minus!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="col py-4">
                    <h5>Lorem ipsum dolor sit amet consectetur</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente libero doloribus, natus perferendis quod molestias atque eius dicta vero neque architecto maiores sunt iste veniam a officiis modi id repellendus.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente libero doloribus, natus perferendis quod molestias atque eius dicta vero neque architecto maiores sunt iste veniam a officiis modi id repellendus.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente libero doloribus, natus perferendis quod molestias atque eius dicta vero neque architecto maiores sunt iste veniam a officiis modi id repellendus.</p>
                
                </div>
            </div>  
        </div>
    </div>
</div>  